
body{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.onlyforthis {
    margin: 100px;
    text-align: center;
}

.outer {
    border: 2px dotted black;
    margin-top: 50px;
    margin-left: 200px;
    width: 780px;
    height: 300px;
}

.namebar-one {
    position: absolute;
    margin-top: 100px;
    margin-left: 180px;
    width: 400px;
    height: 30px;
}

.namebar-two {
    position: absolute;
    margin-top: 150px;
    margin-left: 180px;
    width: 400px;
    height: 30px;
}

.namebar-one:focus .namebar-two:focus {
    box-shadow: 0px 0px 9px skyblue;
}

.click-btn {
    background-color: tomato;
    border: none;
    box-shadow: 0px 0px 6px gold;
    border-radius: 20px;
    margin-top: 210px;
    margin-left: 280px;
    width: 200px;
    height: 30px;
}

.btn-text{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Franklin Gothic , sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 50%;
}

.heading {
    text-align: center;
    font-size: large;
    color: white;
    border-radius: 20px;
    background-color: slateblue;
    width: 500px;
    height: 50px;
    margin-left: 340px;
    margin-top: 30px;
    font-weight: bold;
}

.calci-box {
    border: 0.5px solid greenyellow;
    box-shadow: 0px 0px 9px teal;
    width: 90%;
    height: 280px;
    margin-left: 60px;
    margin-top: 50px;
}


.first-number {
    width: 300px;
    height: 30px;
    margin-left: 170px;
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid turquoise;

}

.second-number {
    width: 300px;
    height: 30px;
    margin-left: 70px;
    margin-top: 30px;
    border-radius: 10px;
    border: 3px solid turquoise;
}

.dropdown {
    background-color: orange;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: large;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    margin-left: 70px;
    transition: transform .3s;
}

.dropdown:hover {
    transform: scale(1.3);
}

.calc-btn {
    background-color: greenyellow;
    border: none;
    border-radius: 40px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    padding: auto;
    margin-left: 300px;
    margin-top: 30px;
    transition: transform .3s;
}

.calc-btn:hover {
    transform: scale(1.2);
}

.result-box {
    width: 300px;
    height: 30px;
    margin-left: 40px;
    margin-top: 0px;
    border-radius: 10px;
    border: 3px solid turquoise;
}